<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="about">
        MINEMELD
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="dashboard"><span class="glyphicon glyphicon-dashboard"></span> DASHBOARD</a>
        </li>
        <li>
          <a ui-sref="nodes"><span class="glyphicon glyphicon-asterisk"></span> NODES</a>
        </li>
        <li>
          <a ui-sref="config"><span class="glyphicon glyphicon-wrench"></span> CONFIG</a>
        </li>
        <li>
          <a ui-sref="logs"><span class="glyphicon glyphicon-list"></span> LOGS</a>
        </li>
        <li ng-if="vm.read_write">
          <a ui-sref="admin.users"><span class="glyphicon glyphicon-user"></span> ADMIN</a>
        </li>
        <li>
          <a ui-sref="system.dashboard">
            <span tooltip-popup-delay="100" tooltip="engine: {{ vm.engineStatename|lowercase }}" tooltip-placement="bottom">
              <span class="glyphicon navbar-system-icon-{{ vm.engineStateIcon }}"></span> SYSTEM
              <div ng-if="vm.engineStateIcon == 'stopped'" class="pull-right navbar-system-badge-stopped"></div>
            </span>
            <div ng-if="vm.engineStateIcon == 'stopping'" class="navbar-system-bar-stopping"></div>
            <div ng-if="vm.engineStateIcon == 'starting'" class="navbar-system-bar-starting"></div>
          </a>
        </li>
        <li>
          <a title="logout" href="#" ng-click="vm.logout()"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid no-padding">
    <div class="albert_stripe albert_stripe_first"></div>
    <div class="albert_stripe albert_stripe_second"></div>
    <div class="albert_stripe albert_stripe_third"></div>
    <div class="albert_stripe albert_stripe_fourth"></div>
  </div>
</nav>
