#nodesTable th {
    font-weight: 500;
    font-size: 12px;
}

#nodesTable td {
    font-weight: 500;
    font-size: 12px;
}

#nodesTable ul {
    padding: 0;
}

#nodesTable ul > li {
    list-style-type: none;
    padding-bottom: 5px;
    vertical-align: middle;
}

#nodesTable ul > li > span {
    vertical-align: middle;
    margin-top: -2px;
}

#nodesTable_wrapper label {
    font-size: 12px;
}

#nodesTable_info {
    font-size: 12px;
}

#nodesTable_paginate {
    font-size: 12px;
}

.nodes-dt-header-miner {
    background-color: $minemeld-miner;
}

.nodes-dt-header-output {
    background-color: $minemeld-output;
}

.nodes-dt-header-processor {
    background-color: $minemeld-processor;
}

.nodes-label-miner {
    background-color: $minemeld-miner;
}

.nodes-label-output {
    background-color: $minemeld-output;
}

.nodes-label-processor {
    background-color: $minemeld-processor;
}
