.logs-search-icon:hover {
    background-color: $input-group-addon-border-color;
}

#logs-table {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
}

#logs-table-header {
    border-top: 1px solid $table-border-color;
    border-bottom: 2px solid $table-border-color;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
}

.logs-entry {
    background: #fff;
    border-bottom: 1px solid $table-border-color;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.logs-entry:hover {
    background-color: darken($body-bg, 5%);
    cursor: pointer;
}

.logs-entry-kv {
    font-size: 11px;
    color: lighten(#000, 55%);
    padding-right: 2px;
    font-style: italic;
}

.logs-entry-msg {
    color: #fff;
    background: $panw-green;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
}

.logs-entry-msg img {
    height: 17px;
    padding-bottom: 1px;
}

.logs-entry-msg a {
    color: #fff;
    cursor: pointer;
}

.logs-entry-timestamp {
    color: lighten(#000, 55%);
}

.logs-entry-field {
    padding: 2px 5px;
    border-radius: .2em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.logs-entry-field:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logs-entry-source {
    color: darken(#788AA3, 20%);
    background: lighten(#788AA3, 30%);
}

.logs-entry-op {
    color: darken(#92B6B1, 30%);
    background: lighten(#92B6B1, 20%);
}

.logs-entry-indicator {
    color: darken(#B2C9AB, 40%);
    background: lighten(#B2C9AB, 10%);
}

.logs-entry-view-log {
    height: 300px !important;
}

.logs-entry-view-counter {
    color: lighten(#000, 55%);
    font-size: 10px;
}

.force-wrap {
    word-wrap: break-word;
}