#login-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: $body-bg;
    text-align: center;
    padding-top: 100px;
}

#login-background > img {
    width: 50px;
    height: auto;
}

#login-form {
    max-width: 330px;
    margin: 0 auto;
}

#login-form > input {
    margin-bottom: 15px;
}