<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="m-t-xs prototypedetail-title">
            {{ vm.libraryName }}.{{ vm.prototypeName }}
        </h3>
    </div>
</div>
<div class="row" ng-if="vm.library.description||vm.library.url">
    <div class="col-sm-12 col-md-12">
        <h4>
            ABOUT {{ vm.libraryName }}
        </h4>
        <div>
            {{ vm.library.description }}
        </div>
        <div ng-if="vm.library.url">
            For more details: <a href="{{ vm.library.url }}">{{ vm.library.url }}</a>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.prototype.description">
    <div class="col-sm-12 col-md-12">
        <h4>
            ABOUT {{ vm.libraryName }}.{{ vm.prototypeName }}
        </h4>
        <div>
            {{ vm.prototype.description }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h4>CLASS</h4>
        <div>{{ vm.prototype.class }}</div>
    </div>
</div>
<div class="row" ng-if="vm.prototype.config">
    <div class="col-sm-12 col-md-12">
        <h4 class="m-b-xs">CONFIG</h4>
        <node-config class="prototypedetail-config" config="vm.prototype.config"></node-config>
    </div>
</div>
