<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="m-t-xs">
            NEW LOCAL PROTOTYPE
        </h3>
    </div>
</div>
<div class="row">
    <form class="config-add-form form-horizontal m-t-xs">
        <div id="fgName" class="form-group">
            <label class="col-sm-2 col-md-2 control-label">NAME</label>
            <div class="col-sm-6 col-md-6">
                <input type="text" ng-model="vm.name" class="form-control" placeholder="Prototype name (required)" required>
            </div>
        </div>
        <div id="fgNodeType" class="form-group">
            <label class="col-sm-2 col-md-2 control-label">NODE TYPE</label>
            <div class="col-sm-3 col-md-3">
                <ui-select ng-model="vm.nodeType"
                           theme="bootstrap"
                           reset-search-input="true"
                           style="width: 100%;"
                           ng-disabled="true">
                    <ui-select-match allow-clear="false" placeholder="Indicator type... (required)">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="nodeType in vm.availableTypes | filter: $select.search">
                        <div>
                            <span ng-bind-html="nodeType | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">DEVEL STATUS</label>
            <div class="col-sm-3 col-md-3">
                <ui-select ng-model="vm.developmentStatus"
                           theme="bootstrap"
                           reset-search-input="true"
                           style="width: 100%;">
                    <ui-select-match allow-clear="true" placeholder="Development status...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="nodeType in vm.availableDevelopmentStatuses | filter: $select.search">
                        <div>
                            <span ng-bind-html="nodeType | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">DESCRIPTION</label>
            <div class="col-sm-6 col-md-6">
                <textarea style="resize: vertical" class="form-control" ng-model="vm.description"
                          placeholder="Description (optional)" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">CLASS</label>
            <div class="col-sm-6 col-md-6">
                <input ng-disabled="true" type="text" ng-model="vm.class" class="form-control" placeholder="Class (required)" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">INDICATOR TYPES</label>
            <div class="col-sm-6 col-md-6">
                <ui-select multiple ng-model="vm.indicatorTypes" theme="bootstrap" on-select="vm.itypesSelected()">
                    <ui-select-match placeholder="Add indicator type...">{{ $item }}</ui-select-match>
                    <ui-select-choices repeat="itype as itype in vm.availableITypes | filter: $select.search">
                        <div>
                            <span ng-bind-html="itype | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">TAGS</label>
            <div class="col-sm-6 col-md-6">
                <ui-select multiple ng-model="vm.tags" theme="bootstrap" tagging tagging-label="">
                    <ui-select-match placeholder="Add tags...">{{ $item }}</ui-select-match>
                    <ui-select-choices repeat="tag as tag in vm.availableTags | filter: $select.search">
                        <div>
                            <span ng-bind-html="tag | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                    <ui-select-no-choice><i>Type to add a new tag</i></ui-select-no-choice>
                </ui-select>
            </div>
        </div>
        <div id="#fgConfig" class="form-group">
            <label class="col-sm-2 col-md-2 control-label">CONFIG</label>
            <div class="col-sm-6 col-md-6">
                <div class="prototypeadd-ace-editor form-control" ng-model="vm.config" ui-ace="{
                    useWrapMode : false,
                    showGutter: true,
                    theme:'github',
                    mode: 'yaml',
                    firstLineNumber: 1,
                    onLoad: vm.editorLoaded
                }"></div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 text-right">
        <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="vm.back()">CANCEL</button>
    </div>
</div>
