<div class="row">
    <div class="col-sm-12 col-md-12">
        <h5 class="m-b-xs">FEEDS USERS
            <button tooltip-popup-delay="500" tooltip="reload users list" type="button" class="btn-config-action btn btn-sm" ng-click="vm.reload()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </h5>
        <div ng-if="!vm.enabled" class="alert alert-danger m-b-xs" role="alert"><strong>Warning!</strong> authentication for output feeds is disabled</div>
    </div>
</div>
<div class="row m-t-xs">
  <div class="col-sm-12 col-md-12">
    <table datatable="" id="nodedetailTable" dt-instance="vm.dtUsers" dt-options="vm.dtOptions"
           dt-columns="vm.dtColumns" class="table table-condensed">
        <tfoot>
            <tr>
                <td colspan="5" style="padding-right: 0;"><a tooltip-popup-delay="500" tooltip="add user" style="float: right;">
                    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.addUser()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </a></td>
            </tr>
        </tfoot>
    </table>
  </div>
</div>