<div class="modal-header">
    <h1 class="modal-title">{{ vm.secretName }}</h1>
</div>
<div class="modal-body">
    <div class="row">
        <form class="config-add-form form-horizontal m-t-xs">
            <div class="form-group" id="fgPassword1">
                <label class="col-xs-4 control-label">{{ vm.secretName }}</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.password" class="form-control" placeholder="{{ vm.secretName|lowercase }}">
                </div>
            </div>
            <div class="form-group" id="fgPassword2">
                <label class="col-xs-4 control-label">REPEAT {{ vm.secretName }}</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.password2" class="form-control" placeholder="Repeat {{ vm.secretName|lowercase }}">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>
