<div class="modal-header">
    <h1 class="modal-title">ADD DEVICE</h1>
</div>
<div class="modal-body">
    <div class="row">
        <form class="config-add-form form-horizontal m-t-xs">
            <div class="form-group">
                <label class="col-xs-4 control-label">NAME</label>
                <div class="col-xs-6">
                    <input type="text" ng-model="vm.name" class="form-control" placeholder="Device name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">HOSTNAME</label>
                <div class="col-xs-6">
                    <input type="text" ng-model="vm.hostname" class="form-control" placeholder="Hostname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">USERNAME</label>
                <div class="col-xs-6">
                    <input type="text" ng-model="vm.api_username" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="form-group" id="fgPassword1">
                <label class="col-xs-4 control-label">PASSWORD</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.api_password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group" id="fgPassword2">
                <label class="col-xs-4 control-label">REPEAT PASSWORD</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.api_password2" class="form-control" placeholder="Repeat Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">SERIAL #</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.serial" class="form-control" placeholder="Only if via Panorama">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>