*:focus {
  outline: 0;
}

.nodedetail-description {
  color: darken($body-bg, 30%);
  font-size: 14px;
}

.nodedetail-tabs-col {
  padding-right: 0 !important;
  width: 60px;
}

.nodedetails-content-col {
  border-top: 1px solid $nav-tabs-active-link-hover-border-color;
}

.nodedetail-tabs-col .nav-tabs {
  border-bottom-color: transparent !important;
  border-right-color: 1px solid $nav-tabs-active-link-hover-border-color !important;
  > li {
    width: 100%;
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    margin-top: 0px !important;
    text-align: center;

    // Actual tabs (as links)
    > a {
      margin-right: 0px;
      border: 1px solid transparent;
      border-right-color: $nav-tabs-active-link-hover-border-color !important;
      border-radius: $border-radius-base 0 0 $border-radius-base !important;
      color: $panw-blue;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        border-color: $nav-tabs-active-link-hover-border-color !important;
        cursor: default;
        border-right-color: transparent !important;
      }
    }
  }
  &::after {
    content: "\0000a0";
    line-height: 60px;
    width: 100%;
    border-right: 1px solid $nav-tabs-active-link-hover-border-color;
  }
}

.nodedetails-stats-table {
  margin-top: 15px;
  background-color: lighten($body-bg, 2%);
  font-size: 12px;
}

.nodedetails-stats-table > thead {
  margin-top: 15px;
  background-color: $body-bg;
}

.nodedetails-stats-table > thead th {
  font-size: 12px;
  font-weight: 400 !important;
}

.nodedetails-stats-table > tbody {
  border-top: 2px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

.nodedetail-info-table {
  margin-top: 15px;
  background-color: lighten($body-bg, 2%);
  font-size: 12px;
}

.nodedetail-info-table > thead {
  margin-top: 15px;
  background-color: $body-bg;
}

.nodedetail-info-table > thead th {
  font-size: 12px;
  font-weight: 400 !important;
}

.nodedetail-info-table > tbody {
  border-top: 2px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

.nodetails-info-inputs {
  padding: 0;
  margin-bottom: 0;
}

.nodetails-info-inputs > li {
    list-style-type: none;
}

.nodedetail-info-config > table {
  margin-top: 15px;
  background-color: lighten($body-bg, 2%);
  font-size: 12px;
}

.nodedetail-info-config > table > tbody {
  border-top: 2px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

.nodedetail-info-config > table > tbody ul {
  padding-left: 0 !important;
}

.nodedetail-info-config > table > tbody li {
    list-style-type: none;
}

.nodedetail-info-config > table table {
  margin-top: 0;
  background-color: lighten($body-bg, 2%) !important;
  font-size: 12px;
}

.nodedetail-info-config > table table > thead th {
  background-color: darken($body-bg, 5%);
  font-size: 12px;
  font-weight: 400 !important;
}

.nodedetail-info-clickable:hover{
    background-color: darken($body-bg, 10%) !important;
}

// used to solve a nvd3 tooltip bug
.nodedetail-nvd3-container {
  position: relative;
}

.nodedetail-info-icon {
  float: right;
  margin-top: 3px;
  color: darken($body-bg, 50%);
}

.nodedetail-info-icon:hover {
  color: darken($body-bg, 70%);
}

#nodedetailTable ul {
    padding: 0;
}

#nodedetailTable ul > li {
    list-style-type: none;
    padding-bottom: 5px;
    vertical-align: middle;
}

#nodedetailTable ul > li > span {
    vertical-align: middle;
    margin-top: -2px;
}

#nodedetailTable_wrapper label {
    font-size: 12px;
}

#nodedetailTable_info {
    font-size: 12px;
}

#nodedetailTable_paginate {
    font-size: 12px;
}

#nodedetailTable th {
    font-weight: 500;
    font-size: 12px;
}

.modal-ace-editor {
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nodedetail-metric-chart .nv-series-0 > .nv-area {
    fill: url(#pattern-metric);
}

.ace-focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .ace-focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

