<div class="modal-header">
    <h1 class="modal-title">PROOFPOINT ET INTELLIGENCE</h1>
</div>
<div class="modal-body">
    <div class="row">
        <form class="config-add-form form-horizontal m-t-xs">
            <div class="form-group" id="fgAPIKey1">
                <label class="col-xs-4 control-label">AUTH CODE</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.token" class="form-control" placeholder="Auth code">
                </div>
            </div>
            <div class="form-group" id="fgAPIKey2">
                <label class="col-xs-4 control-label">REPEAT AUTH CODE</label>
                <div class="col-xs-6">
                    <input type="password" ng-model="vm.token2" class="form-control" placeholder="Repeat Auth code">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>
