<div class="row">
    <div class="col-sm-12 col-md-12">
        <h5 class="m-b-xs">STATUS</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <table class="table table-condensed nodedetails-info-table">
              <colgroup>
                <col style="width: 30%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>CLASS</td>
                    <td>{{ vm.nodeState.class }}</td>
                </tr>
                <tr>
                    <td>STATE</td>
                    <td ng-switch on="vm.nodeState.state">
                        <span ng-switch-when="5" class="label label-success">{{ vm.nodeState.stateAsString }}</span>
                        <span ng-switch-default class="label label-warning">{{ vm.nodeState.stateAsString }}</span>
                    </td>
                </tr>
                <tr>
                    <td>FEED BASE URL</td>
                    <td><a href="{{ vm.nodeState.feedURL }}">{{ vm.nodeState.feedURL }}</a></td>
                </tr>
                <tr>
                    <td># INDICATORS</td>
                    <td>{{ vm.nodeState.indicators }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 col-md-6">
        <table class="table table-condensed nodedetails-info-table">
              <colgroup>
                <col style="width: 15%">
                <col style="width: 85%">
            </colgroup>
            <tbody>
                <tr>
                    <td>OUTPUT</td>
                    <td>
                        <span class="label label-success" ng-if="vm.nodeState.output">ENABLED</span>
                        <span class="label label-default" ng-if="!vm.nodeState.output">DISABLED</span>
                    </td>
                </tr>
                <tr>
                    <td>INPUTS</td>
                    <td>
                        <ul class="nodetails-info-inputs" ng-if="vm.nodeState.inputs.length > 0">
                            <li ng-repeat="input in vm.nodeState.inputs"><a ui-sref="nodedetail({ nodename: input })">{{ input }}</a></li>
                        </ul>
                        <em ng-if="vm.nodeState.inputs.length == 0">none</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h5 class="m-b-xs">CONFIG (TBD)</h5>
    </div>
</div>
