<div class="modal-header">
  <h1 class="modal-title">VERIFY SERVER CERT</h1>
</div>
<div class="modal-body">
  <div class="row">
    <form class="config-add-form form-horizontal m-t-xs">
      <div class="form-group">
        <label class="col-xs-4 control-label">VERIFY SERVER CERT</label>
        <div class="col-xs-6">

          <label>
            <input type="radio" ng-model="vm.taxii2VerifyCert" value="yes">
            Yes
          </label><br/>
          <label>
            <input type="radio" ng-model="vm.taxii2VerifyCert" value="no">
            No
          </label><br/>

        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button ng-disabled="!vm.taxii2VerifyCert" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
  <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>
