<div class="row">
    <div class="col-sm-12 col-md-12">
        <h5 class="m-b-xs">STATUS</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <table class="table table-condensed nodedetail-info-table">
            <colgroup>
                <col style="width: 30%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>CLASS</td>
                    <td>{{ nodedetailinfo.nodeState.class }}</td>
                </tr>
                <tr ng-if="nodedetailinfo.nodeConfig.prototype">
                    <td>PROTOTYPE</td>
                    <td><a tooltip-template="'tooltip.prototype.html'" ui-sref="prototypedetail({ prototypeName: nodedetailinfo.nodeConfig.prototype.split('.')[1], libraryName: nodedetailinfo.nodeConfig.prototype.split('.')[0] })">{{ nodedetailinfo.nodeConfig.prototype }}</a></td>
                    <script type="text/ng-template" id="tooltip.prototype.html">
                        <prototype-tooltip name="nodedetailinfo.nodeConfig.prototype"></prototype-tooltip>
                    </script>
                </tr>
                <tr>
                    <td>STATE</td>
                    <td ng-switch on="nodedetailinfo.nodeState.state">
                        <span ng-switch-when="5" class="label label-success">{{ nodedetailinfo.nodeState.stateAsString }}</span>
                        <span ng-switch-default class="label label-warning">{{ nodedetailinfo.nodeState.stateAsString }}</span>
                    </td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td tooltip="set URL" class="nodedetail-info-clickable" ng-click="nodedetailinfo.setUrl()">
                        <span ng-if="!nodedetailinfo.url"><em>Not set</em></span>
                        <span ng-if="nodedetailinfo.url">{{ nodedetailinfo.url }}</span>
                    </td>
                </tr>
                <tr>
                    <td>VERIFY CERT</td>
                    <td tooltip="toggle Cert Verification" class="nodedetail-info-clickable" ng-click="nodedetailinfo.toggleCertificateVerification()">
                        <span ng-if="nodedetailinfo.verify_cert === undefined" class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                        <span ng-if="nodedetailinfo.verify_cert !== undefined && !nodedetailinfo.verify_cert" class="label label-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
                        <span ng-if="nodedetailinfo.verify_cert" class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                    </td>
                </tr>
                <tr ng-if="nodedetailinfo.nodeState.last_run">
                    <td>LAST RUN</td>
                    <td>
                        <span ng-bind="nodedetailinfo.nodeState.last_run | date:'yyyy-MM-dd HH:mm:ss Z'"></span>
                        <span ng-if="nodedetailinfo.nodeState.sub_state && nodedetailinfo.nodeState.sub_state !== 'ERROR'"
                              ng-class="['label', {WAITING: 'label-default', POLLING:'label-primary', SUCCESS:'label-success', REBUILDING:'label-warning'}[nodedetailinfo.nodeState.sub_state]]"
                              ng-bind="nodedetailinfo.nodeState.sub_state"></span>
                        <span ng-if="nodedetailinfo.nodeState.sub_state && nodedetailinfo.nodeState.sub_state === 'ERROR'"
                              ng-class="['label', 'label-danger']"
                              tooltip="{{ nodedetailinfo.nodeState.sub_state_message }}"
                              ng-bind="nodedetailinfo.nodeState.sub_state"></span>
                        <span tooltip="run now"
                              tooltip-popup-delay="200"
                              ng-if="nodedetailinfo.nodeState.sub_state != 'REBUILDING' && nodedetailinfo.nodeState.sub_state != 'POLLING'"
                              ng-click="nodedetailinfo.run()"
                              class="nodedetail-info-icon fa fa-refresh"></span>
                    </td>
                </tr>
                <tr>
                    <td># INDICATORS</td>
                    <td>{{ nodedetailinfo.nodeState.indicators }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 col-md-6">
        <table class="table table-condensed nodedetail-info-table">
              <colgroup>
                <col style="width: 15%">
                <col style="width: 85%">
            </colgroup>
            <tbody>
                <tr>
                    <td>OUTPUT</td>
                    <td>
                        <span class="label label-success" ng-if="nodedetailinfo.nodeState.output">ENABLED</span>
                        <span class="label label-default" ng-if="!nodedetailinfo.nodeState.output">DISABLED</span>
                    </td>
                </tr>
                <tr>
                    <td>INPUTS</td>
                    <td>
                        <ul class="nodetails-info-inputs" ng-if="nodedetailinfo.nodeState.inputs.length > 0">
                            <li ng-repeat="input in nodedetailinfo.nodeState.inputs"><a ui-sref="nodedetail({ nodename: input })">{{ input }}</a></li>
                        </ul>
                        <em ng-if="nodedetailinfo.nodeState.inputs.length == 0">none</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" ng-if="nodedetailinfo.nodeConfig.config">
    <div class="col-sm-12 col-md-12">
        <h5 class="m-b-xs">CONFIG</h5>
        <node-config class="nodedetail-info-config" config="nodedetailinfo.nodeConfig.config"></node-config>
    </div>
</div>
