<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="m-t-xs nodedetail-title">
            {{ nodedetail.nodename }} <span class="nodedetail-description">NODE</span>
            <button tooltip-popup-delay="500" tooltip="go to logs" type="button" 
                    class="config-action btn btn-config-action btn-sm"
                    ng-click="nodedetail.$state.go('logs', {q: 'source:'+nodedetail.nodename})">
                <span class="glyphicon glyphicon-list"></span> LOGS
            </button>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 nodedetail-tabs-col">
        <tabset vertical="true">
            <tab ng-repeat="tab in nodedetail.tabs" active="tab.active" select="nodedetail.select(tab.state)">
                <tab-heading tooltip="{{ tab.tooltip }}" tooltip-placement="right" tooltip-popup-delay="500">
                    <span class="{{ tab.icon }}"></span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
    <div class="col-xs-11 nodedetails-content-col">
        <div ui-view></div>
    </div>
</div>
