<div class="modal-header">
    <h1 class="modal-title">ADD URL INDICATOR</h1>
</div>
<div class="modal-body">
    <div class="row">
        <form class="config-add-form form-horizontal m-t-xs">
            <div id="fgIndicator" class="form-group">
                <label class="col-xs-4 control-label">INDICATOR</label>
                <div class="col-xs-6">
                    <input type="text" ng-model="vm.indicator" class="form-control" placeholder="URL (required)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">SHARE LEVEL</label>
                <div class="col-xs-6">
                    <span ng-if="!vm.share_level" class="btn btn-sm btn-default" type="button" ng-click="vm.share_level = 'green'">UNKNOWN</span>
                    <span ng-if="vm.share_level == 'green'" class="btn btn-sm btn-success" type="button" ng-click="vm.share_level = 'yellow'">GREEN</span>
                    <span ng-if="vm.share_level == 'yellow'" class="btn btn-sm btn-warning" type="button" ng-click="vm.share_level = 'red'">YELLOW</span>
                    <span ng-if="vm.share_level == 'red'" class="btn btn-sm btn-danger" type="button" ng-click="vm.share_level = null">RED</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">COMMENT</label>
                <div class="col-xs-6">
                    <textarea style="resize: vertical" class="form-control" ng-model="vm.comment"
                              placeholder="Comment (optional)" rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>
