<div class="modal-header">
    <h1 class="modal-title">INDICATOR {{ vm.indicator }} <span ng-if="vm.origShareLevel != vm.share_level">*</span></h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-3 m-t-xs">
            SHARE LEVEL
        </div>
        <div class="col-xs-9">
            <span ng-if="!vm.share_level" class="btn btn-sm btn-default" type="button" ng-click="vm.share_level = 'green'">UNKNOWN</span>
            <span ng-if="vm.share_level == 'green'" class="btn btn-sm btn-success" type="button" ng-click="vm.share_level = 'yellow'">GREEN</span>
            <span ng-if="vm.share_level == 'yellow'" class="btn btn-sm btn-warning" type="button" ng-click="vm.share_level = 'red'">YELLOW</span>
            <span ng-if="vm.share_level == 'red'" class="btn btn-sm btn-danger" type="button" ng-click="vm.share_level = null">RED</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="vm.origShareLevel == vm.share_level" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>