<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="m-t-xs">
            ADD NODE
        </h3>
    </div>
</div>
<div class="row">
    <form class="config-add-form form-horizontal">
        <div class="form-group" id="nodename">
            <label class="col-sm-2 col-md-2 control-label">NAME</label>
            <div class="col-sm-6 col-md-6">
                <input type="text" ng-model="vm.name" class="form-control" placeholder="Node name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">PROTOTYPE</label>
            <div class="col-sm-6 col-md-6">
                <ui-select ng-model="vm.prototype"
                           theme="bootstrap"
                           reset-search-input="false"
                           style="width: 100%;"
                           on-select="vm.prototypeSelected($item, $model)"
                           on-remove="vm.prototypeRemoved($item, $model)">
                    <ui-select-match placeholder="Select prototype...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices group-by="'nodeType'"
                                       repeat="prototype.name as prototype in vm.availablePrototypes | filter: {'name':$select.search}">
                        <div>
                            <span tooltip-template="'prototype-tooltip.html'" tooltip-append-to-body="true" tooltip-placement="right"
                                  tooltip-popup-delay="1000" ng-bind-html="prototype.name | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group"  ng-if="vm.selectedPrototype && vm.selectedPrototype.developmentStatus != 'STABLE'">
            <div class="col-sm-6 col-md-6 col-md-offset-2 col-sm-offset-2">
                <div class="alert alert-danger m-b-xs" role="alert">
                    <strong>WARNING !</strong> Selected prototype is marked as <strong>{{ vm.selectedPrototype.developmentStatus }}</strong>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">INPUTS</label>
            <div class="col-sm-6 col-md-6">
                <ui-select multiple ng-model="vm.inputs" theme="bootstrap"
                           ng-disabled="vm.inputsDisabled"
                           on-select="vm.inputsChanged()" on-remove="vm.inputsChanged()">
                    <ui-select-match placeholder="Select input nodes...">{{$item.name}}</ui-select-match>
                    <ui-select-choices group-by="'nodeType'" repeat="input.name as input in vm.availableInputs | filter: {'name':$select.search}">
                        <div>
                            <span ng-bind-html="input.name | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                    <ui-select-no-choice><i>{{ vm.noInputsChoiceMessage }}</i></ui-select-no-choice>
                </ui-select>
            </div>
        </div>
        <div ng-if="false" class="form-group">
            <label class="col-sm-2 col-md-2 control-label">OUTPUT</label>
            <div class="col-sm-6 col-md-6">
                <span ng-if="!vm.output" class="btn config-btn-disabled btn-sm" type="button" ng-click="vm.output = true">DISABLED</span>
                <span ng-if="vm.output" class="btn config-btn-enabled active btn-sm" type="button" ng-click="vm.output = false">ENABLED</span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 text-right">
        <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="vm.back()">CANCEL</button>
    </div>
</div>
<script type="text/ng-template" id="prototype-tooltip.html">
    <prototype-tooltip name="prototype.name"></prototype-tooltip>
</script>
