<div class="modal-header">
    <h4 class="modal-title">{{ vm.nodeConfig.name }}</h4>
</div>
<div class="modal-body">
    <h5>PROTOTYPE</h5>
    <div>{{ vm.nodeConfig.properties.prototype }}</div>    
    <h5>OUTPUT</h5>
    <div>{{ vm.nodeConfig.properties.output }}</div>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.ok()">SAVE</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>
