.prototypetooltip-maindiv {
    margin: 0;
    background-color: transparent !important;
    text-align: left;
    max-height: 150px;
    overflow-y: hidden;
    margin-bottom: 3px;
}

.prototypetooltip-maindiv div div {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}