<!-- supervisor -->
<div class="row m-t-xs">
  <div class="col-sm-12 col-md-12">
    <button tooltip-popup-delay="500" tooltip="import local backup" type="button"
            class="config-action btn btn-config-action btn-sm" ng-disabled="vm.workingBackup" ng-click="vm.restoreLocalBackup()">
        <span class="glyphicon glyphicon-floppy-open"></span> RESTORE BACKUP
    </button>
    <button tooltip-popup-delay="500" tooltip="export local backup" type="button"
            class="config-action btn btn-config-action btn-sm" ng-disabled="vm.workingBackup" ng-click="vm.generateLocalBackup()">
        <span class="glyphicon glyphicon-floppy-save"></span> EXPORT BACKUP
    </button>
    <button tooltip-popup-delay="500" tooltip="purge logs" type="button"
            class="config-action btn btn-config-action btn-sm" ng-disabled="vm.purgingTraces" ng-click="vm.purgeTraces()">
        <span class="glyphicon glyphicon-erase"></span> PURGE LOGS
    </button>
  </div>
</div>
<div ng-if="vm.system.disk >= 70" class="row m-t-xs">
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-danger m-b-xs" role="alert">
          <strong>Warning!</strong> disk space available less than 30%. Logging has been disabled to prevent data corruption.
          <a style="cursor: pointer;" ng-click="vm.purgeTraces()">Purge logs</a> to free disk space and reactivate logging.
        </div>
    </div>
</div>
<div ng-if="vm.supervisor.processes['minemeld-engine']['statename'] == 'FATAL'" class="row m-t-xs">
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-danger m-b-xs" role="alert">
          <strong>Warning!</strong> MineMeld engine failed to start. Download engine <a href="/logs/minemeld-engine.log">logs</a> to check the error.
        </div>
    </div>
</div>
<div class="row dashboard-row m-t-xs">
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">SUPERVISOR</div>
      </div>
      <div class="col-xs-10 text-center dashboard-main-statistic">
        <h3 class="m-b-xs" ng-switch="vm.supervisor.statename">
          <span class="label label-success" ng-switch-when="RUNNING">{{ vm.supervisor.statename }}</span>
          <span class="label label-danger" ng-switch-when="STOPPED">{{ vm.supervisor.statename }}</span>
          <span class="label label-default" ng-switch-default>{{ vm.supervisor.statename }}</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">ENGINE</div>
      </div>
      <div class="col-xs-5 text-center dashboard-main-statistic">
        <h3 ng-switch="vm.supervisor.processes['minemeld-engine']['statename']">
          <span class="label label-success" ng-switch-when="RUNNING">{{ vm.supervisor.processes['minemeld-engine']['statename'] }}</span>
          <span class="label label-success" ng-switch-when="STARTING">{{ vm.supervisor.processes['minemeld-engine']['statename'] }}</span>
          <span class="label label-danger" ng-switch-when="STOPPED">{{ vm.supervisor.processes['minemeld-engine']['statename'] }}</span>
          <span class="label label-danger" ng-switch-when="STOPPING">{{ vm.supervisor.processes['minemeld-engine']['statename'] }}</span>
          <span class="label label-default" ng-switch-default>{{ vm.supervisor.processes['minemeld-engine']['statename'] }}</span>
        </h3>
        <small ng-if="vm.supervisor.processes['minemeld-engine']['statename'] == 'RUNNING'">STARTED {{ vm.supervisor.processes['minemeld-engine']['start'] }}</small>
      </div>
      <div class="col-xs-5 text-center dashboard-main-statistic">
        <h2 class="m-b-xs" ng-bind="(vm.supervisor.processes['minemeld-engine']['children'])||'N/A'"></h2>
        <small># of chassis</small>
      </div>
      <div class="system-button-bar">
        <a tooltip-popup-delay="500" tooltip="download engine logs" type="button"
                class="btn btn-system-action btn-xs" href="/logs/minemeld-engine.log">
            <span class="glyphicon glyphicon-download-alt"></span> LOGS
        </a>
        <button tooltip-popup-delay="500" tooltip="restart the engine" type="button"
                class="btn btn-system-action btn-xs" ng-click="vm.engineRestart()">
            <span class="glyphicon glyphicon-refresh"></span> RESTART
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">API</div>
      </div>
      <div class="col-xs-10 text-center dashboard-main-statistic">
        <h2 class="m-b-xs" ng-bind="(vm.supervisor.processes['minemeld-web']['children'])||'N/A'"></h2>
        <small># of API processes</small>
      </div>
      <div class="system-button-bar">
        <a tooltip-popup-delay="500" tooltip="download API logs" type="button"
                class="btn btn-system-action btn-xs" href="/logs/minemeld-web.log">
            <span class="glyphicon glyphicon-download-alt"></span> LOGS
        </a>
        <button tooltip-popup-delay="500" tooltip="restart the api" type="button"
                class="btn btn-system-action btn-xs" ng-click="vm.apiRestart()">
            <span class="glyphicon glyphicon-refresh"></span> RESTART
        </button>
      </div>
    </div>
  </div>
</div>

<!-- system -->
<div class="row dashboard-row">
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">CPU</div>
      </div>
      <div class="dashboard-piechart" easypiechart options="vm.epOptions" percent="vm.system.cpu[0]">
        <div class="dashboard-piechart-value" ng-bind="vm.system.cpu[0]"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">MEMORY</div>
      </div>
      <div class="dashboard-piechart" easypiechart options="vm.epOptions" percent="vm.system.memory">
        <div class="dashboard-piechart-value" ng-bind="vm.system.memory"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">DISK</div>
      </div>
      <div class="dashboard-piechart" easypiechart options="vm.epOptions" percent="vm.system.disk">
        <div class="dashboard-piechart-value" ng-bind="vm.system.disk"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="row dashboard-row-system">
      <div class="dashboard-label dashboard-label-system">
        <div class="dashboard-label-text">SWAP</div>
      </div>
      <div class="dashboard-piechart" easypiechart options="vm.epOptions" percent="vm.system.swap">
        <div class="dashboard-piechart-value" ng-bind="vm.system.swap"></div>
      </div>
    </div>
  </div>
</div>
